@use "styles/helpers" as *;

.detail {
    display: flex;
    flex-direction: column;
    @include breakpoint($medium) {
        flex-direction: row;
    }
}
.order {
    @include breakpoint($medium) {
        flex-direction: row-reverse;
    }
}
.detail_img {
    @include breakpoint($medium) {
        width: 35%;
    }
    @include breakpoint($large) {
        width: 58%;
    }
    picture {
        display: flex;
        img {
            width: 100%;
        }
    }
}
.detail_info {
    padding: 72px 24px 72px 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint($medium) {
        width: 65%;
        padding: 0;
        padding: 0 54px;
    }
    @include breakpoint($large) {
        width: 42%;
    }
}
.info_wrap {
    @include breakpoint($medium) {
        max-width: 387px;
    }
    p {
        margin-top: 16px;
        margin-bottom: 23px;
        @include breakpoint($medium) {
            margin-top: 21px;
            margin-bottom: 48px;
        }
    }
}
