@import "../styles/variables.scss";
.section_invite {
    width: 100%;
}
.invite_info {
    background: url("../public/assets/shared/mobile/bg-beta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 64px 33px;

    @media screen and(min-width:$tablet) {
        padding: 0;
        background: url("../public/assets/shared/tablet/bg-beta.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    @media screen and(min-width:$desktop) {
        background: url("../public/assets/shared/desktop/bg-beta.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
}

.invite_wrap {
    position: relative;
    width: 100%;
    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 68px 40px;
        margin: auto;
    }
    @media screen and (min-width: $desktop) {
        width: 77%;
        position: initial;
        padding-left: 0;
        padding-right: 0;
    }
    h2 {
        color: var(--PureWhite);
        margin-bottom: 24px;
        @media screen and (min-width: $tablet) {
            width: 400px;
            margin-bottom: 0;
        }
    }

    &::before {
        content: "";
        background: var(--MainAccent);
        position: absolute;
        height: 6px;
        width: 128px;
        top: -68px;
        left: 0;

        @media screen and (min-width: $tablet) {
            height: 100%;
            width: 6px;
            top: 0;
            left: 0;
        }
    }
}
