@use "styles/helpers" as *;

.footer {
    width: 100%;
    background-color: var(--PureBlack);
    padding: 56px 33px;
    @include breakpoint($medium) {
        padding: 64px 40px;
    }
}

.footer_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint($medium) {
        flex-direction: row;
        align-items: initial;
        justify-content: space-between;
    }
    @include breakpoint($large) {
        width: 77%;
        margin: auto;
    }
}
.contact_wrap {
    display: flex;
    flex-direction: column;
    position: relative;

    @include breakpoint($large) {
        flex-direction: row;
        justify-content: space-between;
        width: 37%;
    }
    svg {
        path {
            fill: var(--PureWhite);
        }
    }
}
.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 155px;
    margin: auto;
    margin-top: 32px;
    @include breakpoint($medium) {
        order: 3;
        margin: initial;
    }
    @include breakpoint($large) {
        position: absolute;
        bottom: 0;
    }
    &:hover {
        cursor: pointer;
    }
}
.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 120px;
    @include breakpoint($medium) {
        flex-direction: row;
        margin-top: 32px;
        margin-bottom: 72px;
        order: 2;
    }
    @include breakpoint($large) {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 0;
        margin-bottom: 0;
    }
    a {
        text-decoration: none;
        font-family: "dm";
        font-weight: 700;
        font-size: 0.8rem;
        color: var(--PureWhite);
        margin-bottom: 20px;
        transition: all 0.3s ease-in;
        @include breakpoint($medium) {
            margin-right: 26px;
            margin-bottom: 0;
        }
        @include breakpoint($large) {
            margin-right: initial;
        }
        &:hover {
            opacity: 0.3;
            cursor: pointer;
        }
    }
}
.wrapper {
    text-align: center;
    p {
        color: var(--PureWhite);
        opacity: 0.5;
        margin-top: 34px;

        @include breakpoint($medium) {
            margin-top: initial;
        }
        @include breakpoint($large) {
            margin-top: 86px;
        }
    }
    @include breakpoint($medium) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
