:root {
    --PureBlack: hsla(0, 0%, 0%, 1);
    --LightGrey: hsla(0, 0%, 87%, 1);
    --PureWhite: hsla(0, 0%, 100%, 1);
    --MainAccent: linear-gradient(
        26.57deg,
        #ffc593 0.42%,
        #bc7198 43.46%,
        #5a77ff 83.33%
    );
}
