@use "styles/helpers" as *;

.main_container {
    width: 100%;
}

.main {
    @include breakpoint($medium) {
        display: flex;
        background-image: url("../public/assets/stories/tablet/moon-of-appalacia.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    @include breakpoint($large) {
        background-image: url("../public/assets/stories/desktop/moon-of-appalacia.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.main_img {
    display: flex;

    img {
        width: 100%;
    }
    @include breakpoint($medium) {
        display: none;
    }
}

.main_info {
    padding: 48px 28px;
    background-color: var(--PureBlack);
    color: var(--PureWhite);
    @include breakpoint($medium) {
        padding: 0;
        width: 387px;
        margin: 122px 39px;
        background-color: transparent;
    }

    @include breakpoint($large) {
        margin: 122px 112px;
    }

    h1 {
        margin-top: 16px;
        margin-bottom: 16px;

        @include breakpoint($medium) {
            margin-top: 24px;
        }
    }
    p {
        color: var(--PureWhite);
    }
    span {
        opacity: 0.6;
    }
}
.paragraph {
    opacity: 0.6;
    margin-top: 24px;
    margin-bottom: 24px;
}
.size {
    font-size: 0.8rem;
    letter-spacing: 2px;
}
.section_pictures {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    @include breakpoint($medium) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint($large) {
        grid-template-columns: repeat(4, 1fr);
    }
}
